:root {
    --font-family: 'Roboto', sans-serif;
    --color-header:#1E8449;
    --background-boton: #166537; 
    --hover-boton: #269253;
    --tama単o-titulo: 30px;
    --tama単o-subtitulo: 20px;
    --tama単o-sub: 18px;
    --tama単o-parrafo: 17px;
}

header nav {
    background-color: var(--color-header);
    display: flex;
}


body{
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

.boton button{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background: var(--background-boton);
    margin: 10px ;
    
}



footer {
    background-color: var(--color-header);
    color:black;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}
footer div {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items:center ;
}
footer div label{
    font-size: 30px;
    font-weight: bold;
}