:root {
    --font-family: 'Roboto', sans-serif;
    --color-header:#1E8449;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family);
}

header nav {
    background-color: var(--color-header);
    display: flex;
}

header nav img {
    margin-left: 30px;
    width: 130px;
    height: 130px;
}

header nav h1 {
    font-weight: bold;
    margin-right: 200px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

header .slider-container{
    width: auto;
    height: auto;
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    overflow-x: hidden;
}

header .slider-image{
    margin: 10px 2px 10px 2px;
    display: inline-block;
    width: 100%;
    height: 600px;
    aspect-ratio: 1/1;
}

header .list-botones{
    margin-top: 10px;
    text-align: center;
}

header .slider-item{
    display: inline-block;
    inline-size: 20px;
    block-size: 20px;
    background-color: black;
    border-radius: 50%;
}


footer {
    background-color: var(--color-header);
    color:black;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

footer div {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items:center ;
}

footer div label{
    font-size: 30px;
    font-weight: bold;
}

.container-img .img-news {
    display: block;
    margin:auto;
    margin-top: 2em;
    width: 90%;
    height: 420px;
    max-width: 1200px;
    min-width: 500px;
}

.titulo-noticia h1{
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.salto {
    display:block
}



.titulo-noticia, .parrafo {
    width: 100%;
    max-width: 1200px;
    display: block;
    justify-content: center;
    margin: auto;
}


.parrafo {
    column-count:2;
    column-gap:25px;
    column-rule: double;
    text-align: justify;
}

p  {
    margin: auto;
    padding: 5px;
    }









