:root {
    --font-family: 'Roboto', sans-serif;
    --color-header:#1E8449;
    --colorBlanco:#ffffff;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: var(--font-family);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:2rem 5rem;

}

.btn-regresar{
    margin:.5rem 5rem;
    padding:.5rem 1rem;
}
/*  */
.container .nom-vacante {
    text-align: start;
    font-size:2.4rem;
    font-weight: 600;
    /* line-height:1.2; */
    margin-bottom: 1rem;
}

.container .oferta .description-oferta h3{
    font-size:1.8rem;
    /* font-weight: 100; */
    line-height: 1.5rem;

}
.container .oferta > div{
    margin-top: 2rem;
}
.container .oferta div ul li{
    margin-top: 2rem;
    margin-left: 1rem;
}

.container .formulario{
    display:flex;
    align-items:center;
    justify-content: center;
    border:1px solid;
    padding:1rem 0rem;
    
}



input[type=text],input[type=date],input[type=email], input[type=tel]{
    width:35vw;
    padding:10px;
    margin:10px 0;
    outline: none; /*quita el contorno que trae por defecto al hacer clic*/
}

label{
    margin-top:.5rem;
}
input[type=button]{
    padding: .3rem 1rem;
    float: right;
    margin-top: 2rem;
    
}

form > h3{
    margin-bottom: 2rem;
    text-align: center;
}
footer{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:var(--color-header);
    padding:3rem;
    font-size:1.5rem;
}
button{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background: #166537;
    margin: 10px ;
    
}

button:hover{
    background: #269253 ;
}

button a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}


